<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>QLMH_JSP_Servlet_JDBC_DoanQuocBao20110612</display-name>
  <welcome-file-list>
    <welcome-file>monhocList</welcome-file>

  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UpdateMonHocServlet</display-name>
    <servlet-name>UpdateMonHocServlet</servlet-name>
    <servlet-class>servlet.UpdateMonHocServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateMonHocServlet</servlet-name>
    <url-pattern>/UpdateMonHocServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteMonHocServlet</display-name>
    <servlet-name>DeleteMonHocServlet</servlet-name>
    <servlet-class>servlet.DeleteMonHocServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteMonHocServlet</servlet-name>
    <url-pattern>/DeleteMonHocServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListMonHocServlet</display-name>
    <servlet-name>ListMonHocServlet</servlet-name>
    <servlet-class>servlet.ListMonHocServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListMonHocServlet</servlet-name>
    <url-pattern>/ListMonHocServlet</url-pattern>
  </servlet-mapping>
</web-app>